/.idea
/venv/
/.pytest_cache/
/startup-local-server.cmd
/db.sqlite3
/test_conn.py
/.env-prod
/.env
/homeinventoryapi/migrations/0001_initial.py
/homeinventoryapi/migrations/__init__.py
/config/local.py
